/* 初期設定 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 共通 */
html,
body {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3",
    "Hiragino Sans", "ヒラギノ角ゴシック", "Yu Gothic", "游ゴシック", "Meiryo",
    sans-serif;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 300;
  color: #000;
  background-color: #f0f0f0;
}
a {
  text-decoration: none;
  color: inherit; /* 基本は親の色をそのまま使う */
}
button,
a {
  cursor: pointer;
}
ul {
  list-style: none;
}
section {
  padding: 60px 16px;
}
.section-last {
  padding-bottom: 0;
}
/* ※ヒーローセクションのみ余白は不要 */
#hero {
  padding: 0;
}
h2 {
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0.3em; /* 文字間隔 */
}
.sub-title {
  font-size: 14px;
}

/* ヘッダー */
nav {
  max-height: 80px;
}
.header-logo {
  align-self: flex-start;
}

.nav-left {
  display: flex;
  flex-direction: column; /* SPは縦 */
  align-items: center;
  padding: 16px;
}

header nav ul {
  display: flex;
  width: 100%;
}

header nav ul li {
  flex: 1;
}

header nav ul a {
  display: block;
}

nav a {
  color: #000000;
}

/* SPではCONTACT非表示 */
.btn-contact {
  display: none;
  background: #000000;
  color: #fff;
}

/* ヒーローセクション */
.hero picture,
.hero img {
  width: 100%;
  height: auto;
  display: block;
}

/* h1タグはSEOのために入れており、画面では不要なため非表示 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

/* NEWSセクション */
.section.news {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

/* 横並び 3カラム */
.news-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
}

/* NEWSアイテム */
.news-item {
  position: relative;
}

/* SPでは仕切り線なし */
.news-item::after {
  display: none;
}

/* クリック範囲はブロック化 */
.news-item a {
  display: block;
  color: #000000;
}
/* 日付 */
.news-item time {
  font-size: 14px;
  color: #000000;
  display: block;
  margin-bottom: 16px;
}

/* タイトル */
.news-title {
  font-size: 14px;
  color: #000000;
}

/* ABOUTセクション */
.about-inner {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about-img,
.about-contents {
  flex: 1; /* 50%ずつにする簡易指定 */
}

.about-img {
  margin-left: -16px;
  margin-right: -16px;
}

.about-contents {
  padding-top: 0;
}

.about-img picture,
.about-img img {
  width: 100%;
  height: auto;
  display: block;
}
.about-contents {
  max-width: 480px;
  padding-top: 64px;
}

/* 事業内容 */
.section.business {
  max-width: 940px;
  margin: 0 auto;
  text-align: left;
}
.business-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
}
.business-left,
.business-right {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.business-left {
  padding-top: 0;
}

.business-left img,
.business-right img {
  width: 100%;
}

/* 会社情報 */
.company.section {
  max-width: 940px;
  margin: 0 auto;
  text-align: left;
}

.company-contents {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.company-detail {
  min-width: auto;
  background-color: #ffffff;
  padding: 40px 20px;
  position: relative;
  z-index: 1;
}

.company-img img {
  display: block;
  width: 100%;
}

.company-info {
  display: grid;
  grid-template-columns: 56px 1fr; /* 左：56px固定 / 右：可変 */
  row-gap: 12px;
  column-gap: 32px;
  padding-top: 64px;
}

.company-info dt {
  font-weight: bold;
}

.company-info dd {
  margin: 0; /* ブラウザのデフォルト打ち消し */
}

.company-info li {
  margin-bottom: 12px;
}

/* フッター */
.footer {
  background-color: #ffffff;
  padding: 48px 16px 20px;
  font-size: 14px;
}

.footer-inner {
  max-width: 940px;
  margin: 0 auto;
}

/* 上段：ロゴ＋住所 */
.footer-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* ロゴ */
.footer-logo img {
  display: block;
  max-width: 160px;
}

/* 住所 */
.footer-address {
  text-align: left;
}

/* コピーライト */
.muted {
  margin-top: 40px;
  font-size: 10px;
}

/* ===== PC ===== */
@media (min-width: 768px) {
  /* ヘッダー */
  header nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .nav-left {
    flex-direction: row; /* 横に戻す */
    gap: 60px;
    padding: 20px;
    height: 80px;
  }

  header nav ul {
    width: auto;
    gap: 30px;
  }

  .btn-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 0 64px;
    font-size: 12px;
  }

  /* NEWS */
  .news-list {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 80px; /* 指定どおり */
  }

  .news-item {
    flex: 1; /* 均等幅にする */
    padding-right: 40px; /* 仕切り線との間 */
  }

  .news-item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: #ccc; /* 縦線の色 */
    display: block;
  }

  /* ABOUT */
  .about-inner {
    flex-direction: row;
    align-items: center;
    gap: 72px;
  }

  .about-contents {
    padding-top: 180px;
  }

  .about-img img {
    width: auto;
  }

  /* 事業内容 */
  .business-list {
    flex-direction: row;
    gap: 64px;
    max-width: 940px;
  }

  .business-left {
    padding-top: 150px;
  }

  /* 会社情報 */
  .company-contents {
    flex-direction: row;
    align-items: center;
    position: relative;
    left: -100px;
  }

  .company-detail {
    min-width: 624px;
    padding: 100px 62px;
  }

  .company-img {
    left: -100px;
    position: relative;
    z-index: 2;
  }

  .company-img img {
    width: auto;
  }

  .section-last {
    padding-bottom: 128px;
  }

  /* フッター */
  .footer {
    padding: 40px 0 20px;
  }
  .footer-info {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
}
